/*

########  #######  ##    ## ########  ######  
##       ##     ## ###   ##    ##    ##    ## 
##       ##     ## ####  ##    ##    ##       
######   ##     ## ## ## ##    ##     ######  
##       ##     ## ##  ####    ##          ## 
##       ##     ## ##   ###    ##    ##    ## 
##        #######  ##    ##    ##     ######  

The index test CSS file contains fonts for headings

*/

@font-face {
    font-family: 'heading';
	src: url('SortsMillGoudy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'heading';
	src: url('SortsMillGoudy-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
  
h1 {
    font-family: heading;
    font-size: 40pt;
    margin-top: 1em;
    margin-bottom: 0;
}
h2 {
    font-family: heading;
    font-size: 24pt;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
h3 {
    font-family: heading;
    font-size: 19pt;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
}
h4 {
    font-family: heading;
    font-size: 17pt;
    font-weight: bold;
    margin-top: 1.2em;
    margin-bottom: 0.4em;
    text-transform: uppercase;
}

/*

	:before and :after pseudo-elements, to test that the glyphs used here are included in the generated font

*/

.sidenote-long:before {
    content: "✻";
    font-size: 0.7em;
    margin-left: -1.2em;
    top: -0.5rem;    
    margin-right: 0.5em;
}

